body {
    margin: 0;
}

#header_nav {
    box-sizing: border-box;
    padding: 1.0em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c1c1c1;
    font-size: small;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 0 .5em;
    z-index: 1;
}

a:hover {
    color: blue;
}

#header_links_left {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

#header_logo {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    height: inherit;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    padding-bottom: .15em;
}

#header_links_right {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1em;
}

.follow_us {
    display: flex;
    align-self: center;
    padding-right: 0;
    font-weight: bold;
}

.header_icons {
    height: 1.2em;
    width: 1.2em;
    margin-left: .5em;
    z-index: 1;
}

#footer_nav {
    background-color: lightgrey;
    font-weight: bold;
}

#footer_logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: x-large;
}

#footer_links {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-size: small;
}

.footer_icons {
    height: 1.2em;
    width: 1.2em;
}

#copyright {
    display: flex;
    justify-content: center;
    color: gray;
}
