#header {
    text-align: center;
}

h1 {
    margin-top: 4%;
    margin-bottom: 3%;
}
p {
    text-align: center;
}

ul {
    margin-left: 25%;
    font-size: x-large;
}

#search_bar{
    width: 20em;
}

#random_button{
    width: 10em;
    height: 5em;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1em;
    background-color: lightblue;
    margin-left: 43%;
    margin-top: 1em;
}

#random_button:hover{
    width: 10em;
    height: 5em;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1em;
    background-color: indianred;
    margin-left: 43%;
    margin-top: 1em;
}
