/*
multi
line
comment
*/

.fancy-header {
    color: greenyellow; /* single line comment */
    text-decoration: underline;
}

#main-header {
    text-align: center;
    color: gold; /* single line comment */
    text-decoration: underline;
}

#slogan {
    text-align: center;
}

body {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 200%;
    background-color: black;
    background-image: url("../img/veridian_background.jpg");
    background-position: top;
    background-position-y: 215px;
    background-size: 900px 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.vision {
    height: 300px;
    width: 500px;
    float: left;
}

ul#core_values {
    list-style-image: url("../img/veridian_bullet.png");
}

ol {
    list-style: lower-roman;
}

#products {
    padding-top: 630px;
}

table, th, td {
    color: aliceblue;
    border-collapse: collapse;
    border-color: darkorange;
    border-style: solid;
    width: 700px;
}

th, td {
    padding: 6px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #888;
}

tr:nth-child(odd) {
    background-color: #555;
}

#quality_guarantee {
    font-style: italic;
    color: fuchsia;
    font-size: 110%;
}

#return_top {
    font-size: 100%;
    text-decoration: none;
}

a:link {
    color: yellow;
}

a:visited {
    color: red;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}