body {
    margin-left: 0;
    margin-right: 0;
    font-family: ReithSans, Arial, Helvetica, sans-serif;
}

#bbc_logo {
    float: left;
    height: 1.5em;
    width: 5em;
    margin-left: 17%;
    margin-top: .1em;
    border: none;
}

#top_logo_link {
    border: none
}

#top_nav {
    font-weight: bold;
    float: right;
    margin-right: 16.8%;
    margin-top: .3em;
}

.page_links {
    float: left;
    font-size: small;
}

.sounds {
    border-right: .1em solid darkgray;
}

#error_banner {
    float: left;
    clear: left;
    margin-top: .4em;
    margin-left: 0;
    padding-left: 17%;
    padding-top: 1em;
    background-color: #4945b6;
    font-size: large;
    color: white;
    width: 83%;
    height: 4em;
}

#page_not_found {
    margin-top: 8.5%;
    float: left;
    clear: left;
    text-align: center;
    margin-left: 38%;
}

#sorry {
    font-size: larger;
}

input {
    width: 18em;
    height: 2em;
    background-color: lightgrey;
    border: none;
    font-size: medium;
}

a {
    text-decoration: none;
    color: black;
    border-left: .1em solid darkgray;
    padding-left: .8em;
    padding-right: .8em;
    padding-bottom: .4em;
}

.home:hover {
    border-bottom: .308em solid #7ba0c3;
}

.news:hover {
    border-bottom: .308em solid #bb1919;
}

.sport:hover {
    border-bottom: .308em solid #fbd133;
}

.weather:hover {
    border-bottom: .308em solid #88cbee;
}

.iplayer:hover {
    border-bottom: .308em solid #ec5096;
}

.sounds:hover {
    border-bottom: .308em solid #ed462f;
}

.bbc_homepage {
    text-decoration: none;
    color: #4945b6;
    border: none;
}

.bbc_homepage:hover {
    color: #4945b6;
    text-decoration: underline;
}

#bottom_nav_bar {
    background-color: #4c4c4c;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: smaller;
    height: 8%;
    padding-top: 2em;
}

#read_external, .footer_links {
    border: none;
    color: white;
}

#read_external:hover {
    color: white;
    text-decoration: underline;
}

.footer_text {
    position: absolute;
    text-align: left;
    padding-left: 16.5%;
    bottom: 0;
    width: 83%;
    color: white;
    font-size: smaller;
}