body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3em;
    height: 80vh;;
}

button {
    width: 12em;
}
